#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
body 
 {
	background-image: url('FABRICA.jpg'); /* Reemplaza con la ruta de tu imagen */
	background-size: cover;      /* Ajusta la imagen para cubrir toda la pantalla */
	background-position: center; /* Centra la imagen */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	height: 100vh;               /* Asegura que ocupe toda la pantalla */
	margin: 0;
	padding: 0;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        }
        .menu {
            width: 250px;
            height: 100vh;
            background: transparent; /* ¡100% transparente! */
            color: white;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto;
            padding-top: 10px;
        }
        .menu-item {
            background: #60858A;
            color: white;
            padding: 1px;  /* espacio entre lineas del menu */
            cursor: pointer;
            margin: 5px 0;
            border-radius: 5px;
	    font-size: 16px; /* Tamaño de letra 16px */
	    font-family: 'Segoe UI', Tahoma,Segoe UI , Geneva, Verdana, sans-serif; /* Fuente Segoe UI */
	    font-weight: bold; /* Letra en negrita */
        }
		
	.menu-item2 {
            background: #76AF99;
            color: black;
            padding: 1px;  /* espacio entre lineas del menu */
            cursor: pointer;
            margin: 5px 0;
            border-radius: 5px;
	    font-size: 16px; /* Tamaño de letra 16px */
   	    font-family: 'Segoe UI', Tahoma,Segoe UI , Geneva, Verdana, sans-serif; /* Fuente Segoe UI */
	    font-weight: bold; /* Letra en negrita */
        }
		
	.menu-item3 {
            background: #CFF7D9;
            color: green;
            padding: 1px;  /* espacio entre lineas del menu */
            cursor: pointer;
            margin: 5px 0;
            border-radius: 5px;
	    font-size: 16px; /* Tamaño de letra 16px */
	    font-family: 'Segoe UI', Tahoma,Segoe UI , Geneva, Verdana, sans-serif; /* Fuente Segoe UI */
	    font-weight: bold; /* Letra en negrita */
        }
		
	.menu-item4 {
            background: #859A5B;
            color: white;
            padding: 1px;  /* espacio entre lineas del menu */
            cursor: pointer;
            margin: 5px 0;
            border-radius: 5px;
            font-size: 16px; /* Tamaño de letra 16px */
	    font-family: 'Segoe UI', Tahoma,Segoe UI , Geneva, Verdana, sans-serif; /* Fuente Segoe UI */
	    font-weight: bold; /* Letra en negrita */
        }
		
        .submenu {
            display: none;
            padding-left: 30px; /* espacios a la Izquierda */
        }
        .submenu.active {
            display: block;
        }
		
	.submenu2 {
            display: none;
            padding-left: 30px; /* espacios a la Izquierda */
			
        }
        .submenu2.active {
            display: block;
        }
		
		
	.submenu3 {
            display: none;
            padding-left: 30px; /* espacios a la Izquierda */
			
        }
        .submenu3.active {
            display: block;
        }
		
	.submenu4 {
            display: none;
            padding-left: 30px; /* espacios a la Izquierda */
			
        }
        .submenu4.active {
            display: block;
        }
		
	.arrow {
            float: right;
            transition: transform 0.3s ease;
        }

        .open > .arrow {
            transform: rotate(90deg);
        }
	@keyframes logo-spin {
 	 from {
  	  transform: rotate(0deg);
 	 }
 	 to {
 	   transform: rotate(360deg);
	  }
	}

	@media (prefers-reduced-motion: no-preference) {
	  a:nth-of-type(2) .logo {
	    animation: logo-spin infinite 20s linear;
	  }
	}

	.card {
	  padding: 2em;
	}

	.read-the-docs {
 	 color: #888;

	}	
